/* nomalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
/* ./normalize*/
*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

html, body {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	background: #f9f9f9;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

a {
	color: #555;
	text-decoration: none;
}

li {
	list-style: none;
}

div, header, footer, .section-links ul, .projects, .contact,
.contact-form, .contact-form input {
  position: relative;
  width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 2rem;
  min-width: 490px;
}
/* Header */
header {
	margin: 0 auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	text-align: center;
}

/* section 'links' */
.section-links li {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.26);
  text-align: center;
  display: inline;
  padding-left: 18px;
  padding-right: 18px;
}

/* Main */
.main {
	position: relative;
	margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.about, .projects, .contact {
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.26);
}
.about, .projects {
  margin-bottom: 0.5rem;
}

.about, .projects, .contact, .projects > div, .contact > div, .front, .back {
  height: 550px;
  /*overflow: auto; ## If you leave this on; scroll-bar will     overflow-x: hidden;## appear udring animation
   */
}
.about, .projects > div, .contact > div {
  padding: 10px;
} 
.front > h2 {
  text-align: center;
}
.front div {
  text-align: center;
  padding-top: 180px;
}
.back p > span:hover {
  font-weight: 700;
}

.front {
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(0deg);
  -moz-transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 0.6s linear 0s;
}
.back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.6s linear 0s;
}
.projects .hide-front, .contact .hide-front {
  transform: perspective(600px) rotateY(-180deg);
}
.projects .show-back, .contact .show-back {
  transform: perspective(600px) rotateY(0deg);
}

/* font awesome styling */
i {
  color: rgba(0, 158, 96, 0.5);
  transition: 0.8s;
} 
.front:hover i,  {
  text-shadow: 1px 1px 1px rgba(0, 158, 96, 0.5);
}

.project {
  margin-top: 1rem;
  transition: 1s;
}
.project:hover {
  background-color: rgba(0, 158, 96, 0.1);
}
.project * {
  text-align: center;
}

.contact-form {
  margin-top: 50px;
  background-color: transparent;
}
.contact-form input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  border: none;
  text-align: center;
  background-color: rgba(0, 158, 96, 0.5); /* Shamrock green */
}
.contact-form input.error {
  background-color: rgba(227, 38, 54, 0.5); /* alizarin crimson */
}
.contact-form [name=message] {
  height: 90px;
}
.contact-form .submit-form {
  background-color: rgba(86, 160, 211, 0.6); /* Carolina Blue */
}
.contact-form .submit-form:hover {
  background-color: rgba(86, 160, 211, 0.9);
}
/* footer */
footer {
	box-shadow: 0px -1px 1px rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
	background-color: #f9f9f9;
}
footer li {
	display: inline-block;
	margin: 3px;
	font-size: 0.7rem;
}
footer li:first-child {
	padding-left: 0.4rem;
}

@media screen and (min-width: 640px) {
  .about {
    margin-right: 7px;
  }
  .about, .projects, .contact {
    float: left;
  }
  .about, .projects {
    width: 49.5%;
  }

  .contact {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
	.container {
		max-width: 900px;
	}
  .about, .projects, .contact {
    width: 32.7%;
  }
  .about, .projects {
    margin-right: 7px;
  }
  .projects {
    margin-left: 0px;
  }
}